General Styles
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Home Container */
.home-container {
  display: flex;
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Added box-shadow */
}

.sidebar h2 {
  color: black;
  text-align: center;
}

.sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #ddd;
  color: black;
}

/* Content Styles */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* Card Styles */
.card {
  background-color: white;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Added position relative for button positioning */
}

.card h2 {
  color: #333;
}

/* Explore Button Styles */
.explore-button {
  background-color: #4CAF50; /* Green color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.explore-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .home-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none; /* Remove box-shadow on small screens */
  }

  .content {
    margin-left: 0;
  }
}
